<%- include('../partials/header') -%>
<form method="POST" action="/account/register">
	<div class="mb-3">
	  <label for="exampleInputEmail1" class="form-label">Email address</label>
	  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email">
	  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
	</div>
	<div class="mb-3">
	  <label for="exampleInputPassword1" class="form-label">Password</label>
	  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
	</div>
	<div class="mb-3">
		<label for="exampleInputPhoneNumber1" class="form-label">Phone Number</label>
		<input type="number" class="form-control" id="exampleInputPhoneNumber1" name="phoneNumber">
	  </div>
	<div class="mb-3">
		<label for="exampleInputSub1" class="form-label">Sub</label>
		<input type="text" class="form-control" id="exampleInputSub1" name="sub">
	</div>
	<div class="mb-3">
		<label for="exampleInputAvatar1" class="form-label">avatar</label>
		<input type="text" class="form-control" id="exampleInputAvatar1" name="avatar">
	</div>
	<div class="mb-3">
		<label for="exampleInputName1" class="form-label">Name</label>
		<input type="text" class="form-control" id="exampleInputName1" name="name">
	</div>
	<div class="mb-3 form-check">
	  <input type="checkbox" class="form-check-input" id="exampleCheck1">
	  <label class="form-check-label" for="exampleCheck1">Check me out</label>
	</div>
	<% if (canCreate == false) { %>
		<p>Tài khoản đã tồn tại</p>
	<% } %>
	<button type="submit" class="btn btn-primary">Submit</button>
  </form>
<%- include('../partials/footer') -%>