<form method="POST" enctype="multipart/form-data" action="/productmanager/submitdiscountcode">

  <div class="mb-3">
    <label class="form-label">Code</label>
    <input type="text" class="form-control" name = "code">
  </div>

  <div class="mb-3">
    <label class="form-label">Thời gian bắt đầu</label>
    <input type="datetime-local" class="form-control" name = "start_time">
  </div>

  <div class="mb-3">
    <label class="form-label">Thời gian kết thúc</label>
    <input type="datetime-local" class="form-control" name = "end_time">
  </div>

  <div class="mb-3">
    <label class="form-label">Giảm giá theo phần trăm</label>
    <input type="number" class="form-control" value = 0 name = "discount_Percent" min="0" max="100">
  </div>

  <div class="mb-3">
    <label class="form-label">Giảm giá trừ</label>
    <input type="number" class="form-control" value = 0 name = "discount_Minus" min="0" max="10000000">
  </div>

  <div class="mb-3">
    <label class="form-label">Giá trị đơn tối thiểu</label>
    <input type="number" class="form-control" value = 0 name = "minimun_order_value" min="0" max="10000000">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>