<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <header>
        <%- include('../partials/header') -%>
    </header>
    <main>
      <form method="POST" action= window.location enctype="multipart/form-data">
        <div class="submitproduct">
          <div class="title ms-3 mt-5 pb-sm-3 border-bottom">
            <h3 class="mb-2">Đăng sản phẩm</h3>
            <span class="text-secondary">Khi bạn thêm sản phẩm ở đây nó sẽ được tải lên website của bạn.</span>
          </div>
    
          <div class="d-flex">
            <div class="info-product m-5">
                <div class="mb-4">
                  <label class="form-label">Tên sản phẩm</label>
                  <input type="text" class="form-control" name = "name">
                </div>
    
                <div class="mb-4">
                  <label class="form-label">Mã sản phẩm</label>
                  <input type="text" class="form-control" name = "code">
                </div>
    
                <div class="mb-4">
                  <label class="form-label">Loại sản phẩm</label>
                  <select type="number" class="form-select" aria-label="Default select example" name = "id_tag">
                    
                    <option value = 1>giày sân tự nhiên</option>
                    <option value = 2>giày sân nhân tạo</option>
                    <option value = 3>giày futsal</option>
                    <option value = 4>giày sneaker</option>
                    <option value = 5>dép thể thao</option>
                    <option value = 6>dép thời trang</option>
                    <option value = 7>tất</option>
                    <option value = 8>găng tay</option>
                    <option value = 9>băng cuốn</option>
                    <option value = 10>túi</option>
                  </select>
                </div>
    
                <div class="mb-4">
                  <label class="form-label">Tên thương hiệu</label>
                  <select type="number" class="form-select" aria-label="Default select example" name = "id_Producer">
                    <option value = 1>Nike</option>
                    <option value = 2>Adidas</option>
                    <option value = 3>Converse</option>
                    <option value = 4>Vans</option>
                    <option value = 5>Puma</option>
                    <option value = 6>Fila</option>
                    <option value = 7>Mlb</option>
                    <option value = 8>New-balance</option>
                    <option value = 9>Mizuno</option>
                  </select>
                </div>
    
                <div class="mb-4">
                  <label class="form-label">Mô tả sản phẩm</label>
                  <input type="text" style="height: 100px;" class="form-control" name = "description">
                </div>
            </div>
    
            <div class="product-details m-5">
              <div class="mb-3" >
                <label class="form-label">Ảnh đại diện sản phẩm</label>
                <input class="form-control" type="file" name="product_Image" >
              </div>
            
              <div class="mb-5">
                <label for="formFileMultiple" class="form-label">Ảnh chi tiết phẩm (đủ 3 ảnh trên trước sau)</label>
                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
              </div>
        
              <div class="d-flex detail_add">
                <div class="add me-5">
                  <div class="input-group mb-4">
                    <span class="input-group-text">Size</span>
                    <select type="text" id="size-input" class="form-select" aria-label="Default select example" name = "size">
                      <option value = "5.5US">5.5US</option>
                      <option value = "6US">6US</option>
                      <option value = "6.5US">6.5US</option>
                      <option value = "7US">7US</option>
                      <option value = "7.5US">7.5US</option>
                      <option value = "8US">8US</option>
                      <option value = "8.5US">8.5US</option>
                      <option value = "9US">9US</option>
                      <option value = "9.5US">9.5US</option>
                      <option value = "10US">10US</option>
                      <option value = "10.5US">10.5US</option>
                    </select>
                  </div>

                  <div class="input-group mb-4">
                    <span class="input-group-text">Giá</span>
                    <input type="number" id="price-input" class="form-control" name = "price" value = 0>
                  </div>

                  <div class="input-group mb-4">
                    <span class="input-group-text">Khuyến mãi(%)</span>
                    <input type="number" id="discount-percent-input" class="form-control" name = "discout_percent" value = 0>
                  </div>
                  
                  <div class="input-group mb-5">
                    <span class="input-group-text">Khuyến mãi trực tiếp</span>
                    <input type="number" id="discount-minus-input" class="form-control" name = "discount_minus" value = 0>
                  </div>

                  <div class="btn-edit me-5">
                    <button type="button" class="btn btn-success me-5" id="add-product-btn">Thêm</button>
                    <button type="button" class="btn btn-warning" id="remove-product-btn">Xóa</button>
                  </div>  
                </div>
                <input type="hidden" name="numRow" id="numRow" value= 0 >
                <table class="table table-bordered w-75 mb-0" id="detail-product-table">
                  <thead > 
                    <tr class="text-center">
                      <th class="w-25">Size</th>
                      <th class="w-50">Giá</th>
                      <th class="w-50">Khuyến mãi(%)</th>
                      <th class="w-50">Khuyến mãi(vnd)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg mb-5 ms-5">Submit</button>
        </div>
      </form>
    </main>
    <footer>
        <%- include('../partials/footer') -%>
    </footer>

    <!-- javascript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
