<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <header>
        <%- include('../partials/header') -%>
    </header>    
    <div class="container mt-3">
        <div class="list-news row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 news-item">
                <img width="360" src="https://bizweb.dktcdn.net/thumb/large/100/437/253/articles/t7.jpg?v=1640076034077"
                    alt="King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của Virgil Abloh có gì đặc biệt?">
                    <div class="element">
                        <h3>King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của...</h3>
                        <p>OFF-WHITE x Nike Air Force 1 University Yellow là đôi sneakers được hé lộ trong website
                            public—domain.com, một websi...</p>
                        </div>
                <div class="timepost">
                    <span class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" heigth="11" viewBox="0 0 10 11" fill="none">
                            <path
                                d="M6.625 2.6875C6.625 3.61948 5.86948 4.375 4.9375
                             4.375C4.00552 4.375 3.25 3.61948 3.25 2.6875C3.25 1.75552 4.00552 1 4.9375 1C5.14011 1 5.33437 1.03571 5.51435 1.10117"
                                stroke="#808080" stroke-linecap="round"></path>
                            <path
                                d="M1 10V8.06439C1 7.45857 1.34677 6.9047 1.91417
                              6.69234C2.67955 6.40589 3.97001 6.0625 4.9375 6.0625C5.9254 6.0625 7.02163 6.42052 7.88588 6.71039C8.49054 6.91319 8.875 7.48924 8.875 8.12701V10"
                                stroke="#808080" stroke-linecap="round"></path>
                        </svg>
                        Nguyễn Phúc Hoàng
                    </span>

                    <br class="view-more d-md-block d-none">
                    <a href="#" title="Xem Thêm">
                        Xem Thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" heigth="12" viewBox="0 0 16 12" fill="none">
                            <path d="M10.0586 1L14.9998 6.02351L10.0586 10.9647" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.17627 6.02344H14.9175" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.02344H3.88235" stroke="#3F3FDB" stroke-width="1.25" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12 news-item">
                <img width="360" src="https://bizweb.dktcdn.net/thumb/large/100/437/253/articles/t7.jpg?v=1640076034077"
                    alt="King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của Virgil Abloh có gì đặc biệt?">
                    <div class="element">
                        <h3>King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của...</h3>
                        <p>OFF-WHITE x Nike Air Force 1 University Yellow là đôi sneakers được hé lộ trong website
                            public—domain.com, một websi...</p>
                        </div>
                <div class="timepost">
                    <span class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" heigth="11" viewBox="0 0 10 11" fill="none">
                            <path
                                d="M6.625 2.6875C6.625 3.61948 5.86948 4.375 4.9375
                                 4.375C4.00552 4.375 3.25 3.61948 3.25 2.6875C3.25 1.75552 4.00552 1 4.9375 1C5.14011 1 5.33437 1.03571 5.51435 1.10117"
                                stroke="#808080" stroke-linecap="round"></path>
                            <path
                                d="M1 10V8.06439C1 7.45857 1.34677 6.9047 1.91417
                                  6.69234C2.67955 6.40589 3.97001 6.0625 4.9375 6.0625C5.9254 6.0625 7.02163 6.42052 7.88588 6.71039C8.49054 6.91319 8.875 7.48924 8.875 8.12701V10"
                                stroke="#808080" stroke-linecap="round"></path>
                        </svg>
                        Nguyễn Phúc Hoàng
                    </span>

                    <br class="view-more d-md-block d-none">
                    <a href="#" title="Xem Thêm">
                        Xem Thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" heigth="12" viewBox="0 0 16 12" fill="none">
                            <path d="M10.0586 1L14.9998 6.02351L10.0586 10.9647" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.17627 6.02344H14.9175" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.02344H3.88235" stroke="#3F3FDB" stroke-width="1.25" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12 news-item">
                <img width="360" src="https://bizweb.dktcdn.net/thumb/large/100/437/253/articles/t7.jpg?v=1640076034077"
                    alt="King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của Virgil Abloh có gì đặc biệt?">
                    <div class="element">
                        <h3>King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của...</h3>
                        <p>OFF-WHITE x Nike Air Force 1 University Yellow là đôi sneakers được hé lộ trong website
                            public—domain.com, một websi...</p>
                        </div>
                <div class="timepost">
                    <span class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" heigth="11" viewBox="0 0 10 11" fill="none">
                            <path
                                d="M6.625 2.6875C6.625 3.61948 5.86948 4.375 4.9375
                                     4.375C4.00552 4.375 3.25 3.61948 3.25 2.6875C3.25 1.75552 4.00552 1 4.9375 1C5.14011 1 5.33437 1.03571 5.51435 1.10117"
                                stroke="#808080" stroke-linecap="round"></path>
                            <path
                                d="M1 10V8.06439C1 7.45857 1.34677 6.9047 1.91417
                                      6.69234C2.67955 6.40589 3.97001 6.0625 4.9375 6.0625C5.9254 6.0625 7.02163 6.42052 7.88588 6.71039C8.49054 6.91319 8.875 7.48924 8.875 8.12701V10"
                                stroke="#808080" stroke-linecap="round"></path>
                        </svg>
                        Nguyễn Phúc Hoàng
                    </span>

                    <br class="view-more d-md-block d-none">
                    <a href="#" title="Xem Thêm">
                        Xem Thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" heigth="12" viewBox="0 0 16 12" fill="none">
                            <path d="M10.0586 1L14.9998 6.02351L10.0586 10.9647" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.17627 6.02344H14.9175" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.02344H3.88235" stroke="#3F3FDB" stroke-width="1.25" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12 news-item">
                <img width="360" src="https://bizweb.dktcdn.net/thumb/large/100/437/253/articles/t7.jpg?v=1640076034077"
                    alt="King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của Virgil Abloh có gì đặc biệt?">
                    <div class="element">
                        <h3>King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của...</h3>
                        <p>OFF-WHITE x Nike Air Force 1 University Yellow là đôi sneakers được hé lộ trong website
                            public—domain.com, một websi...</p>
                        </div>
                <div class="timepost">
                    <span class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" heigth="11" viewBox="0 0 10 11" fill="none">
                            <path
                                d="M6.625 2.6875C6.625 3.61948 5.86948 4.375 4.9375
                                         4.375C4.00552 4.375 3.25 3.61948 3.25 2.6875C3.25 1.75552 4.00552 1 4.9375 1C5.14011 1 5.33437 1.03571 5.51435 1.10117"
                                stroke="#808080" stroke-linecap="round"></path>
                            <path
                                d="M1 10V8.06439C1 7.45857 1.34677 6.9047 1.91417
                                          6.69234C2.67955 6.40589 3.97001 6.0625 4.9375 6.0625C5.9254 6.0625 7.02163 6.42052 7.88588 6.71039C8.49054 6.91319 8.875 7.48924 8.875 8.12701V10"
                                stroke="#808080" stroke-linecap="round"></path>
                        </svg>
                        Nguyễn Phúc Hoàng
                    </span>

                    <br class="view-more d-md-block d-none">
                    <a href="#" title="Xem Thêm">
                        Xem Thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" heigth="12" viewBox="0 0 16 12" fill="none">
                            <path d="M10.0586 1L14.9998 6.02351L10.0586 10.9647" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.17627 6.02344H14.9175" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.02344H3.88235" stroke="#3F3FDB" stroke-width="1.25" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12 news-item">
                <img width="360" src="https://bizweb.dktcdn.net/thumb/large/100/437/253/articles/t7.jpg?v=1640076034077"
                    alt="King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của Virgil Abloh có gì đặc biệt?">
                <div class="element">
                <h3>King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của...</h3>
                <p>OFF-WHITE x Nike Air Force 1 University Yellow là đôi sneakers được hé lộ trong website
                    public—domain.com, một websi...</p>
                </div>
                <div class="timepost">
                    <span class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" heigth="11" viewBox="0 0 10 11" fill="none">
                            <path
                                d="M6.625 2.6875C6.625 3.61948 5.86948 4.375 4.9375
                                             4.375C4.00552 4.375 3.25 3.61948 3.25 2.6875C3.25 1.75552 4.00552 1 4.9375 1C5.14011 1 5.33437 1.03571 5.51435 1.10117"
                                stroke="#808080" stroke-linecap="round"></path>
                            <path
                                d="M1 10V8.06439C1 7.45857 1.34677 6.9047 1.91417
                                              6.69234C2.67955 6.40589 3.97001 6.0625 4.9375 6.0625C5.9254 6.0625 7.02163 6.42052 7.88588 6.71039C8.49054 6.91319 8.875 7.48924 8.875 8.12701V10"
                                stroke="#808080" stroke-linecap="round"></path>
                        </svg>
                        Nguyễn Phúc Hoàng
                    </span>

                    <br class="view-more d-md-block d-none">
                    <a href="#" title="Xem Thêm">
                        Xem Thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" heigth="12" viewBox="0 0 16 12" fill="none">
                            <path d="M10.0586 1L14.9998 6.02351L10.0586 10.9647" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.17627 6.02344H14.9175" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.02344H3.88235" stroke="#3F3FDB" stroke-width="1.25" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-12 news-item">
                <img width="360" src="https://bizweb.dktcdn.net/thumb/large/100/437/253/articles/t7.jpg?v=1640076034077"
                    alt="King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của Virgil Abloh có gì đặc biệt?">
                    <div class="element">
                        <h5>King James mang đôi OFF-WHITE x Nike Air Force 1 University Yellow của...</h5>
                        <p>OFF-WHITE x Nike Air Force 1 University Yellow là đôi sneakers được hé lộ trong website
                            public—domain.com, một websi...</p>
                        </div>
                <div class="timepost">
                    <span class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" heigth="11" viewBox="0 0 10 11" fill="none">
                            <path
                                d="M6.625 2.6875C6.625 3.61948 5.86948 4.375 4.9375
                                                 4.375C4.00552 4.375 3.25 3.61948 3.25 2.6875C3.25 1.75552 4.00552 1 4.9375 1C5.14011 1 5.33437 1.03571 5.51435 1.10117"
                                stroke="#808080" stroke-linecap="round"></path>
                            <path
                                d="M1 10V8.06439C1 7.45857 1.34677 6.9047 1.91417
                                                  6.69234C2.67955 6.40589 3.97001 6.0625 4.9375 6.0625C5.9254 6.0625 7.02163 6.42052 7.88588 6.71039C8.49054 6.91319 8.875 7.48924 8.875 8.12701V10"
                                stroke="#808080" stroke-linecap="round"></path>
                        </svg>
                        Nguyễn Phúc Hoàng
                    </span>

                    <br class="view-more d-md-block d-none">
                    <a href="#" title="Xem Thêm">
                        Xem Thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" heigth="12" viewBox="0 0 16 12" fill="none">
                            <path d="M10.0586 1L14.9998 6.02351L10.0586 10.9647" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.17627 6.02344H14.9175" stroke="#3F3FDB" stroke-width="1.25"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.02344H3.88235" stroke="#3F3FDB" stroke-width="1.25" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') -%>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>