<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>

<body>
  <header>
    <%- include('../partials/header') -%>
  </header>

  <main role="main">
    <h1 style="margin-top: 10rem; margin-bottom: 10rem; text-align: center;">Đơn đặt hàng của bạn không thành công</h1>
  </main>

  <footer>
    <%- include('../partials/footer') -%>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/popperjs/popper.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Custom script - Các file js do mình tự viết -->
  <script src="../assets/js/app.js"></script>
</body>

</html>