<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <%- include('../partials/header') -%>
    </header>
    <main>
		<form action="/account/register" method="POST">
			<div class="container min-vh-100">
            <h1 class="mt-5 mb-3 text-center">Đăng ký tài khoản</h1>
			<hr>
			
            <div class="section" style="margin-left:300px; margin-right:200px">
                <div class="form-group mt-5 mb-3">
                    <label for="name" class="">Tên của bạn</label> <br>
                    <input type="text" class="form-control-lg w-100" placeholder="Nhập tên" name="name" required>
                </div>

                <div class="form-group mb-3">
                    <label for="phoneNumber">Số điện thoại</label>
                    <input type="text" class="form-control-lg w-100" placeholder="Nhập số điện thoại" name="phoneNumber">
                </div>

                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control-lg w-100" placeholder="Nhập Email" pattern=".+@gmail.com" name="email" required>                  
                </div>

                <div class="form-group mb-4">
                    <label for="password">Mật Khẩu</label>
				    <input type="password" class="form-control-lg w-100" placeholder="Nhập Mật Khẩu" name="password" required>
                </div>

                <div class="form-group mb-3">
                    <label for="avatar">Ảnh đại diện</label>
                    <input type="file" placeholder="Nhập Ảnh" name="avatar" accept="image/*" >
                </div>
			    
                <% if (canRegister == false) { %>
                <label for="" style="color: red"><p>Email đã tồn tại</p></label>
                <% } %>
			 	<div class="clearfix mt-5">
					<button type="submit" class="signupbtn btn-lg btn-primary mb-5">Đăng ký</button>
				</div>
                <div class="loginRe float-end">
                    <span>Đã có tài khoản?</span><a href="/account/login"> Đăng nhập</a>
                </div>   
            </div>
		  </form>
    </main>
    <footer>
        <%- include('../partials/footer') -%>
    </footer>

    <!-- javascript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
