<div class="footer-body bg-211e3d">
    <div class="container-fluid ps-8 row">
        <div class="col mt-4 mb-2 info-shop">
            <div>
                <h2 class="mb-3">Phuong Soccer</h2>
            </div>
            <ul class="lh-lg">
                <li>
                    <span>Địa chỉ: Số nhà 85, Đường Thân Đức Thuận, <br> Phường Ngô Quyền, Thành phố Bắc Giang</span>
                </li>
                <li>
                    <span>Điện thoại: 0344 291 912 <br> 0978 895 354
                    </span>
                </li>
                <li>
                    <span>Email: diachiemail@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="col mt-4 mb-2 links-service">
            <h3 class="mb-2">Hỗ trợ & Chính sách</h3>
            <ul class="lh-lg">
                <li><a src="">Cam kết từ cửa hàng</a></li>
                <li><a src="">Hướng dẫn mua hàng</a></li>
                <li><a src="">Hướng dẫn đặt hàng online</a></li>
                <li><a src="">Quy định đổi hàng</a></li>
                <li><a src="">Chính sách bảo hành</a></li>
                <li><a src="">Chính sách vận chuyển</a></li>
                <li><a src="">Chính sách bảo mật</a></li>
            </ul>
        </div>
        <div class="col mt-4 mb-2 follow-social">
            <h3 class="mb-2">Theo dõi chúng tôi</h3>
            <div class="links-social">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <h3 class="mt-4 mb-2">Đăng ký để nhận tin</h3>
            <form class="form-getNews">
                <input type="email" class="form_field" placeholder="Nhập địa chỉ email"/>
                <button type="button" class="btn btn-primary">Gửi</button>
            </form>
        </div>
    
    </div>
</div>