<nav class="navbar navbar-expand-lg navbar-211e3d bg-211e3d">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> 
      <img src="/img/logo.png" alt="logo-shop"  height="55px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (user.id == 0 && user.id_role == 1) { %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/intro">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sản phẩm
              </div>
              <div class="dropdown-menu dropdown-header">
                <div class="d-flex products-list">
                  <div class="col">
                    <div class="dropdown-item link-product"><a href="/tag/1">Giày cỏ tự nhiên</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/2">Giày cỏ nhân tạo</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/3">Giày futsal</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/4">Giày sneaker</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/5">Dép thể thao</a></div>
                  </div>
                  <div class="col">
                    <div class="dropdown-item link-product"><a href="/producer/2">Giày Adidas</a></div>
                    <div class="dropdown-item link-product"><a href="/producer/1">Giày Nike</a></div>
                    <div class="dropdown-item link-product"><a href="/producer/9">Giày Mizuno</a></div>
                    <div class="dropdown-item link-product"><a href="/producer/5">Giày Puma</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/6">Dép thời trang</a></div>
                  </div>
                </div>
              </div>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Phụ kiện
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-item"><a href="/tag/7">Tất bóng đá</a></div>
              <div class="dropdown-item"><a href="/tag/8">Găng tay thủ môn</a></div>
              <div class="dropdown-item"><a href="/tag/9">Băng cuốn</a></div>
              <div class="dropdown-item"><a href="/tag/10">Túi đựng giày</a></div>
            </div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">Tin tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
        </ul>
        
        <div class="d-flex">
          <form action="/search" method="post">
            <ul>
              <li style="display: inline-block;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
              </li>
              <li style="display: inline-block;">
                <button class="btn btn-outline-success" type="submit">
                  <a title="Tìm kiếm" rel="nofollow">
                    <i class="fa-solid fa-magnifying-glass" style="color: #0d6efd;"></i>
                  </a>
                </button>
              </li>
            </ul>            
          </form>
          
          <div class="dropdown">
            <div class="btn btn-outline-success" data-bs-toggle="dropdown" title="Tài khoản của bạn">
              <i class="fa-regular fa-user" style="color: #0d6efd;" ></i>
            </div>
            <div class="dropdown-menu dropdown-user">
                <ul>
                  <li><a class="dropdown-item" href="/account/login">Đăng Nhập</a></li>
                  <li><a class="dropdown-item" href="/account/register">Đăng Ký</a></li>
                </ul>
            </div>
          </div>
          <div class="dropdown dropdown-menu-start">
            <div class="btn btn-outline-success" data-bs-toggle="dropdown"  title="Giỏ hàng">
              <a href="/cart" aria-label="Xem giỏ hàng"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="dropdown-menu dropdown-cart"><p>Giỏ hàng của bạn không có gì</p></div>
          </div>
        </div>
      </div>
    <% } %>
    <% if (user.id !== 0 && user.id_role == 1) { %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/intro">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sản phẩm
              </div>
              <div class="dropdown-menu dropdown-header">
                <div class="d-flex products-list">
                  <div class="col">
                    <div class="dropdown-item link-product"><a href="/tag/1">Giày cỏ tự nhiên</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/2">Giày cỏ nhân tạo</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/3">Giày futsal</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/4">Giày sneaker</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/5">Dép thể thao</a></div>
                  </div>
                  <div class="col">
                    <div class="dropdown-item link-product"><a href="/producer/2">Giày Adidas</a></div>
                    <div class="dropdown-item link-product"><a href="/producer/1">Giày Nike</a></div>
                    <div class="dropdown-item link-product"><a href="/producer/9">Giày Mizuno</a></div>
                    <div class="dropdown-item link-product"><a href="/producer/5">Giày Puma</a></div>
                    <div class="dropdown-item link-product"><a href="/tag/6">Dép thời trang</a></div>
                  </div>
                </div>
              </div>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Phụ kiện
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-item"><a href="/tag/7">Tất bóng đá</a></div>
              <div class="dropdown-item"><a href="/tag/8">Găng tay thủ môn</a></div>
              <div class="dropdown-item"><a href="/tag/9">Băng cuốn</a></div>
              <div class="dropdown-item"><a href="/tag/10">Túi đựng giày</a></div>
            </div>
            
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">Tin tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Liên hệ</a>
          </li>
        </ul>

        <div class="d-flex">
          <form action="/search" method="post">
            <ul>
              <li style="display: inline-block;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
              </li>
              <li style="display: inline-block;">
                <button class="btn btn-outline-success" type="submit">
                  <a title="Tìm kiếm" rel="nofollow">
                    <i class="fa-solid fa-magnifying-glass" style="color: #0d6efd;"></i>
                  </a>
                </button>
              </li>
            </ul>            
          </form>
          <div class="dropdown">
            <div class="btn btn-outline-success" data-bs-toggle="dropdown" title="Tài khoản của bạn">
              <i class="fa-regular fa-user" style="color: #0d6efd;"></i>
            </div>
            <div class="dropdown-menu dropdown-user">
              <ul>
                <li><a class="dropdown-item" href="/account/profile">Hồ sơ cá nhân</a></li>
                <li><a class="dropdown-item" href="/account/logout">Đăng Xuất</a></li>
              </ul>
            </div>
          </div>


          <div class="dropdown dropdown-menu-start">
            <div class="btn btn-outline-success" data-bs-toggle="dropdown" title="Giỏ hàng">
                <a href="/cart" title="Giỏ hàng" rel="nofollow">
                  <i class="fa-solid fa-cart-shopping" style="color: #0d6efd;"></i>
                </a>
            </div>
            <div class="dropdown-menu dropdown-user">
              <ul>
                <li><a class="dropdown-item" href="/cart" >Xem giỏ hàng</a></li>
              </ul>
            </div>
          </div>
        </div>
    <% } %>
    <% if (user.id !== 0 && user.id_role !== 1) { %> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Quản lý sản phẩm</div>
              <div class="dropdown-menu dropdown-header">
                <div class="products-list">
                  <div class="dropdown-item link-product"><a href="/productmanager/submitproduct">Đăng sản phẩm</a></div>
                  <div class="dropdown-item link-product"><a href="/productmanager/productlist">Danh sách sản phẩm</a></div>
                  <div class="dropdown-item link-product"><a href="/productmanager/submitdiscountcode">Thêm mã giảm giá</a></div>
                  <div class="dropdown-item link-product"><a href="/warehousestaff/productlist">Quản lý kho</a></div>
                </div>
              </div>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Quản lý đơn hàng</div>
            <div class="dropdown-menu dropdown-header">
              <div class="products-list">
                <div class="dropdown-item link-product"><a href="/ordersprocess/unhandled">Đơn hàng chờ xác nhận</a></div>
                <div class="dropdown-item link-product"><a href="/ordersprocess/handling">Đơn hàng đang xử lý</a></div>
                <div class="dropdown-item link-product"><a href="/ordersprocess/handled">Đơn hàng đã xuất kho</a></div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Chăm sóc khách hàng</div>
            <div class="dropdown-menu dropdown-header">
              <div class="products-list">
                <div class="dropdown-item link-product"><a href="/productmanager/newslist">Quản lý tin tức</a></div>
                <div class="dropdown-item link-product"><a href="/productmanager/submitnews">Thêm tin tức</a></div>
                <div class="dropdown-item link-product"><a href="/customercarestaff/problem">Vấn đề liên hệ</a></div>
              </div>
            </div>
          </li>
        </ul>
        <div class="d-flex">
          <form action="/search" method="post">
            <ul>
              <li style="display: inline-block;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
              </li>
              <li style="display: inline-block;">
                <button class="btn btn-outline-success" type="submit">
                  <a title="Tìm kiếm" rel="nofollow">
                    <i class="fa-solid fa-magnifying-glass" style="color: #0d6efd;"></i>
                  </a>
                </button>
              </li>
            </ul>            
          </form>
          <div class="dropdown">
            <div class="btn btn-outline-success" data-bs-toggle="dropdown" title="Tài khoản của bạn">
              <i class="fa-regular fa-user" style="color: #0d6efd;" ></i>
            </div>
            <div class="dropdown-menu dropdown-user">
              <ul>
                <li><a class="dropdown-item" href="/account/profile">Hồ sơ cá nhân</a></li>
                <li><a class="dropdown-item" href="/account/logout">Đăng Xuất</a></li>
              </ul>
            </div>
          </div>
          <div class="dropdown dropdown-menu-start">
            <div class="btn btn-outline-success" data-bs-toggle="dropdown"  title="Thông báo">
            <a href=""><i class="fa-regular fa-bell" style="font-size: large;"></i></a>
            </div>
            <div class="dropdown-menu dropdown-cart"><p>Không có thông báo gì</p></div>
          </div>
        </div>
      </div>
    <% } %>  
  </div>
</nav>