<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giày bóng đá chính hàng Bắc Giang | Uy tín Chất lượng Tận tâm</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="header d-grid align-items-center">
        <div class="header-middle">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo Shop -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 block-logo">
                        <a href="" class="logo-shop">
                            <img src="http://localhost:3000/img/logo.png" alt="logo-shop"  height="50px">
                        </a>
                    </div>
                    <!-- Menu Navbar -->
                    <div class="col-xl-8 col-lg-8 block-menu">
                        <div class="header-menu-nav">
                            <ul class="nav big-nav">
                                <li class="nav-item ">
                                    <a href="#" class="nav-link active ">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Giới thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Tin tức</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#">Sản phẩm</a>
                                    <ul class="dropdown-menu small-nav">
                                        <li class="dropdown-item text-black-50">Item1</li>
                                        <li class="dropdown-item text-black-50">Item2</li>
                                        <li class="dropdown-item text-black-50">Item3</li>
                                        <li class="dropdown-item text-black-50">Item4</li>
                                        <li class="dropdown-item text-black-50">Item5</li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Icon Link -->
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-6 right-nav">
                        <div class="header-icon-links">
                            <ul class="nav iconlink-group justify-content-evenly">
                                <li class="nav-item icon-search dropdown-menu-end">
                                    <button type="button" class="btn btn-dark " data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm">
                                        <a href="#" class="linked-icon text-white" data-bs-toggle="dropdown">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-search">
                                            <input type="text" class="dropdown-item text-input" id="text-search" placeholder="Tìm kiếm sản phẩm">
                                        </ul>
                                    </button>
                                </li>
                                <li class="nav-item icon-user dropdown-menu-end" >
                                    <button type="button" class="btn btn-dark " data-toggle="tooltip" data-placement="bottom" title="Tài khoản của bạn">
                                        <a href="#" class="linked-icon text-white" data-bs-toggle="dropdown">
                                            <i class="fa-regular fa-user"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-login-signup">
                                            <a href="#" class="dropdown-item login">Đăng nhập</a>
                                            <a href="#" class="dropdown-item signup">Đăng ký</a>
                                        </ul>
                                    </button>
                                </li>
                                <li class="nav-item icon-favourite">
                                    <button type="button" class="btn btn-dark " data-toggle="tooltip" data-placement="bottom" title="Sản phẩm yêu thích">
                                        <a href="#" class="linked-icon text-white">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </button>
                                </li>
                                <li class="nav-item icon-cart">
                                    <button type="button" class="btn btn-dark " data-toggle="tooltip" data-placement="bottom" title="Giỏ hàng">
                                        <a href="#" class="linked-icon text-white">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
